/* BODY */
#custom {
  margin: 50px 0 0 0;
  font-size: 20px;
}

#bascolor { color: #D76F2C; }

hr {
  border-color: #D76F2C;
  margin: 1px 0 1px 0;
}

.vertical-lines {
    border-left: groove;
    border-right: groove;
    width: 50px;
    margin-left: 35%;
}

/* BUTTONS */
#basbtn1 {
  background-color: #D76F2C;
  color: white;
  margin-top: 20px;
}

#basbtn {
  background-color: #D76F2C;
  color: white;
  margin-top: 4px;
}


/* TABLE */
table {
  width: 100%;
  border: 1px solid grey;
}

.tab { float: left; }


/* MARGIN */
#marginset { margin: 0 0 0 0; }
#marginsetsubmit { margin: 4px; 0 0 0; }
#margin-row { margin: 0px 20px 20px 20px; }
#margin-top { margin: 100px 0 0 0; }


/* PADDING */
#leftpadding { padding: 8px 0 0 20px; }
