.mid {
    margin-top: 15%;
}

.vertical-lines {
    border-left: groove;
    border-right: groove;
    width: 50px;
    margin-left: 35%;
}

.color-primary {
	color: #337ab7;
}





#position {
  position: relative;
}

#custom {
  margin: 100px; 0 0 0;
  font-size: 25px;
}

#margin-row {
  margin: 20px 20px 20px 20px;
}

#margin-top {
  margin: 100px 0 0 0;
}